	<!-- Menubar -->
	<div class="menubar-area footer-fixed">
		<div class="toolbar-inner menubar-nav">
			<a  class="nav-link active" (click)="global.setRoute('home')">
				<i class="flaticon flaticon-dog-house"></i>
			</a>
			<a class="nav-link">
				<i class="fas fa-map-marker-alt"></i>
			</a>
			<a class="nav-link">
				<i class="flaticon flaticon-heart"></i>
			</a>
			<a class="nav-link">
				<i class="flaticon flaticon-chat-1"></i>
			</a>
			<a class="nav-link">
				<i class="flaticon flaticon-user"></i>
			</a>
		</div>
	</div>
	<!-- Menubar -->