<div class="page-content space-top p-b60">
    <div class="container py-0">
        <div class="row">
            <div class="col-md-6 col-12 mb-2">
                <div class="dz-media-card style-3">
                    <div class="dz-media">
                        <img src="../assets/images/explore/pic1.png" alt="">
                    </div>
                    <div class="dz-content">
                        <h3 class="title">Free Tonight</h3>
                        <p>Down for something spontaneous</p>
                        <a href="javascript:void(0);" class="btn btn-sm btn-light rounded-xl">JOIN NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 mb-2">
                <div class="dz-media-card style-3">
                    <div class="dz-media">
                        <img src="../assets/images/explore/pic2.png" alt="">
                    </div>
                    <div class="dz-content">
                        <h3 class="title">Looking for Love</h3>
                        <p>Sweep me off my feet</p>
                        <a href="javascript:void(0);" class="btn btn-sm btn-light rounded-xl">JOIN NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 mb-2">
                <div class="dz-media-card style-3">
                    <div class="dz-media">
                        <img src="../assets/images/explore/pic3.png" alt="">
                    </div>
                    <div class="dz-content">
                        <h3 class="title">Let's be Friends</h3>
                        <p>Maybe even besties</p>
                        <a href="javascript:void(0);" class="btn btn-sm btn-light rounded-xl">JOIN NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 mb-2">
                <div class="dz-media-card style-3">
                    <div class="dz-media">
                        <img src="../assets/images/explore/pic4.png" alt="">
                    </div>
                    <div class="dz-content">
                        <h3 class="title">Coffee Date</h3>
                        <p>Take me to your favorite cafe</p>
                        <a href="javascript:void(0);" class="btn btn-sm btn-light rounded-xl">JOIN NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 mb-2">
                <div class="dz-media-card style-3">
                    <div class="dz-media">
                        <img src="../assets/images/explore/pic5.png" alt="">
                    </div>
                    <div class="dz-content">
                        <h3 class="title">Get Photo Verified</h3>
                        <p>Get Verified</p>
                        <a href="javascript:void(0);" class="btn btn-sm btn-light rounded-xl">JOIN NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
